@font-face{
  font-family: terminus;
  src: url('/fonts/terminus.woff2');
  font-display: swap;
}

$neon-color: #00ff00;
$bg-color: #000000;
$fg-color: #ffffff;

body {
  font-family: terminus;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $bg-color;
  margin: 0;
  overflow: hidden;
}


div#cube{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .scene {
    position: relative;
    width: 200px;
    height: 200px;
    perspective: 600px;
    animation: x 7s linear infinite alternate, y 5s linear infinite alternate;
  }

  /* Cube Container */
  .cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate-cube 12s infinite linear;
  }

  /* General Face Styling */
  .face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid $neon-color;
    background-size: cover; /* Ensures the image covers the face */
    background-position: center; /* Centers the image on the face */
    box-shadow: 0 0 8px 0 $neon-color;
  }

  /* Individual Faces with Background Images and Positions */
  .front {
    transform: rotateY(0deg) translateZ(100px);
  }

  .back {
    transform: rotateY(180deg) translateZ(100px);
  }

  .right {
    transform: rotateY(90deg) translateZ(100px);
  }

  .left {
    transform: rotateY(-90deg) translateZ(100px);
  }

  .top {
    transform: rotateX(90deg) translateZ(100px);
  }

  .bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }

  /* Animation Keyframes */
  @keyframes rotate-cube {
    from {
      transform: rotateY(0deg) rotateX(0deg);
    }
    to {
      transform: rotateY(360deg) rotateX(360deg);
    }
  }

  @keyframes x {
    from { left: 0; }
    to { left: calc(100% - 200px); }
  }

  @keyframes y {
    from { top: 0; }
    to { top: calc(100% - 200px); }
  }
}

div#grid{

  .scene {
    position: fixed;
    inset: 0;
    perspective: 1200px;
  }

  .grid {
    position: absolute;
    width: 200%;
    height: 200%;
    left: -50%;
    bottom: -50%;
    
    transform-style: preserve-3d;
    transform: rotateX(70deg);

    background-image:
      linear-gradient($neon-color 1px, transparent 1px),
      linear-gradient(90deg, $neon-color 1px, transparent 1px);

    background-size: 80px 80px;

    animation: gridMove 30s linear infinite;

    box-shadow:
      0 0 20px $neon-color,
      0 0 40px $neon-color;
  }

  @keyframes gridMove {
    from {
      background-position: 0 0, 0 0;
    }
    to {
      background-position: 0 100%, 100% 0;
    }
  }
}

div#content{
  display: grid;
  color: $fg-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  align-items: center;
  div#contentBody{
    display: grid;
    width: 240px;
    margin-left: calc(50% - 120px);
    backdrop-filter: blur(2px) saturate(0%);
    text-shadow: 1px 1px 24px $fg-color;
    div#header{
      font-weight: bold;
      font-size: 24px;
    }
    div#links{
      a:link, a:visited, a:hover, a:active, b{
        font-size: 16px;
        padding: 4px;
        display: block;
        color: $fg-color;
        text-decoration: none;
      }
    }
    hr{
      margin: 8px auto;
      min-width: 200px;
      width: 25%;
      border: 1px solid $fg-color;
      box-shadow: 0 0 24px 2px $fg-color;
    }
  }
}

div#counter{
  color: $neon-color;
  position: fixed;
  top: 0;
  height: 130px;
  text-align: center;
  line-height: 130px;
  width: 100vw;
}