@font-face{
  font-family: terminus;
  src: url('/fonts/terminus.woff2');
  font-display: swap;
}

$neon-color: #00ff00;
$bg-color: #000000;
$fg-color: #ffffff;

$breakpoint-tablet: 768px;

body {
  font-family: terminus;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $bg-color;
  margin: 0;
  overflow: hidden;
  a {
    color: $fg-color;
    &:hover {
      color: $fg-color;
    }
    &:visited {
      color: $fg-color;
    }
    &:active {
      color: $fg-color;
    }
  }
}

div#cube{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  .scene {
    position: relative;
    width: 200px;
    height: 200px;
    left: calc(50vw - 100px);
    top: calc(50vh - 100px);
    perspective: 600px;
  }

  /* Cube Container */
  .cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate-cube 24s infinite linear;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
    will-change: transform;
  }

  /* General Face Styling */
  .face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid $fg-color;
    background-size: cover; /* Ensures the image covers the face */
    background-position: center; /* Centers the image on the face */
    box-shadow: 0 0 8px 0 $fg-color;
    backdrop-filter: saturate(0%);
  }

  /* Individual Faces with Background Images and Positions */
  .front {
    transform: rotateY(0deg) translateZ(100px);
  }

  .back {
    transform: rotateY(180deg) translateZ(100px);
  }

  .right {
    transform: rotateY(90deg) translateZ(100px);
  }

  .left {
    transform: rotateY(-90deg) translateZ(100px);
  }

  .top {
    transform: rotateX(90deg) translateZ(100px);
  }

  .bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }

  /* Animation Keyframes */
  @keyframes rotate-cube {
    from {
      transform: rotateY(0deg) rotateX(0deg);
    }
    to {
      transform: rotateY(360deg) rotateX(360deg);
    }
  }
}

div#grid{

  div.scene {
    position: fixed;
    inset: 0;
    perspective: 1200px;
  }

  div.grid {
    position: absolute;
    width: 200%;
    height: 200%;
    left: -50%;
    bottom: -50%;
    
    transform-style: preserve-3d;
    transform: rotateX(70deg);
    will-change: background-position;

    background-image:
      linear-gradient($neon-color 1px, transparent 1px),
      linear-gradient(90deg, $neon-color 1px, transparent 1px);

    background-size: 80px 80px;

    animation: gridMove 20s linear infinite;
    animation-fill-mode: backwards;
    animation-delay: 0s;

    box-shadow:
      0 0 20px $neon-color,
      0 0 40px $neon-color;
  }

  @keyframes gridMove {
    from {
      background-position: 0 0, 0 0;
    }
    to {
      background-position: 0 100%, 0 0;
    }
  }
}

div#ansi{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  div.scene{
    position: relative;
    span{
      color: $fg-color;
      font-size: 14px;
      display: inline-block;
      width: 10px;
      height: 14px;
      text-shadow: 1px 1px 10px $neon-color, 1px 1px 10px $neon-color;
      will-change: color, text-shadow;
    }
    div.clear{
      clear: both;
    }
    @keyframes textEffect{
      0% {
        color: $fg-color;
        text-shadow: 1px 1px 10px $neon-color, 1px 1px 10px $neon-color;
      }
      50% {
        color: $neon-color;
        text-shadow: 1px 1px 10px $fg-color, 1px 1px 10px $fg-color;
      }
      100% {
        color: $fg-color;
        text-shadow: 1px 1px 10px $neon-color, 1px 1px 10px $neon-color;
      }

    }
    $spans: 107;
    @for $i from 1 through $spans{
      span:nth-child(#{$i}){
        animation: textEffect 4s linear infinite ($i * 0.01) + s;
      }
    }
  }
}

div#content{
  display: grid;
  color: $fg-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  align-items: center;
  div#pagesContainer{
    position: relative;
    // display: none;
    top: 0;
    transition: top 0.5s ease-in-out 0s;
    div.pageContainer{
      width: 100vw;
      height: 100vh;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      div.pageContent{
        display: block;
        min-width: 240px;
        max-width: 75%;
        max-height: calc(100% - 80px);
        background-color: rgba(0,0,0,0.5);
        text-align: center;
        padding: 16px;
        border: 4px $fg-color solid;
        overflow: hidden;
        will-change: filter, color, border-color, opacity;
        label{
          display: block;
          width: 0; 
          height: 0; 
          margin: 0 auto;
          cursor: pointer;
        }
        label.arrowDown{
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid $fg-color;
        }
        label.arrowUp{
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid $fg-color;
          transform: rotate(180deg);
        }
        label.arrowLeft{
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent; 
          border-right:20px solid $fg-color; 
        }
        label.arrowRight{
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid $fg-color;
        }
        @keyframes textAppear{
          0%{
            filter: blur(4px) hue-rotate(1080deg);
            color: $neon-color;
            border-color: $neon-color;
            opacity: 0;
          }
          99%{
            filter: blur(0) hue-rotate(0);
            color: $fg-color;
            opacity: 1;
          }
          100%{
            filter: none;
          }
        }
        p{
          font-size: 16px;
          text-shadow: -1px -1px 0 $bg-color, 1px -1px 0 $bg-color, -1px 1px 0 $bg-color, 1px 1px 0 $bg-color;
        }
        p.header{
          font-size: 24px;
          font-weight: bold;
          text-align: left;
          margin: 0;
        }
        p.small{
          font-size: 12px;
        }
        div#showcasePro{
          position: relative;
          left: 0;
          transition: left 0.5s ease-in-out 0s;
          div:nth-child(2) > div > img{
            background-color: #011381;
          }
        }
        div.showcase{
          display: flex;
          flex-direction: row;
          margin: 0 -16px;
          div.slideContainer{
            display: grid;
            grid-template-columns: 20px calc(100% - 40px) 20px;
            margin: 0 16px;
            label{
              align-self: center;
            }
            div.slide{
              width: calc(75vw - 80px);
              margin: 0 20px;
              display: flex;
              align-items: flex-start;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              img{
                border: 0;
                height: auto;
                width: auto;
                max-width: 100%;
                object-fit: contain;
                display: block;
                background-color: $fg-color;
                padding: 8px;
              }
              div.text{
                p{
                  width: 100%;
                }
              }
              @media (min-width: $breakpoint-tablet) {
                flex-direction: row;
                justify-content: space-between;
                width: calc(75vw - 80px);
                img{
                  display: inline-block;
                  margin-right: 8px;
                  width: 33.3%
                }
                p{
                  width: 66.6%;
                }
              }
            }
          }
        }
        $slides: 3;
        @for $i from 1 through $slides{
          input#slide#{$i}pro:checked ~ div#showcasePro{
            left: calc(#{$i - 1} * (-75vw - 32px));
          }
        }
      }
    }
  }
  input{
    display: none;
  }
  $pages: 3;
  @for $i from 1 through $pages{
    input#page#{$i}:checked ~ div#pagesContainer{
      top: calc(#{$i - 1} * -100vh);
      div.page#{$i} div.pageContent{
        animation: textAppear 2s ease-out;
      }
    }
  }

}

div#counter{
  color: $neon-color;
  position: fixed;
  top: 0;
  left: 0;
  height: 36px;
  text-align: center;
  line-height: 36px;
  width: 100vw;
}

div#scroller{
  position: fixed;
  top: 0;
  left: 0;
  height: 30%;
  background-color: $bg-color;
  color: $neon-color;
  white-space:nowrap;
  z-index: -1;
  animation: scroll 15s linear infinite;
  text-align: center;
  will-change: left;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));

  span {
    display: inline-block;
    animation: wave 4s ease-in-out infinite;
    position: relative;
    top: 50%;
    font-size: 32px;
    will-change: transform;
  }

  @keyframes scroll {
    from { left: 100vw; }
    to   { left: -664px; }
  }

  @keyframes wave {
    0%   { transform: translateY(-100%); }
    50% { transform: translateY(100%); }
    100%   { transform: translateY(-100%); }
  }

}
$letters: 28;
$step: 0.08s;
@for $i from 1 through $letters {
  div#scroller span:nth-child(#{$i}) {
    animation-delay: $i * $step;
  }
}

div#starfield{
  @function stars($count) {
    $stars: ();
    @for $i from 1 through $count {
      $x: random(2000) * 1px;
      $y: random(2000) * 1px;
      $stars: append($stars, #{$x} #{$y} $fg-color, comma);
    }
    @return $stars;
  }

  $stars-small: stars(700);
  $stars-medium: stars(200);
  $stars-big: stars(100);
  %star-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background: transparent;
  }
  $travel: 2000px;
  .stars {
    @extend %star-layer;
    box-shadow: $stars-small;

    &::after {
      content: "";
      position: absolute;
      top: $travel;
      width: 1px;
      height: 1px;
      box-shadow: $stars-small;
    }

    animation: animStar 50s linear infinite;
  }
  .stars2 {
    @extend %star-layer;
    width: 2px;
    height: 2px;
    box-shadow: $stars-medium;

    &::after {
      content: "";
      position: absolute;
      top: $travel;
      width: 2px;
      height: 2px;
      box-shadow: $stars-medium;
    }

    animation: animStar 100s linear infinite;
  }
  .stars3 {
    @extend %star-layer;
    width: 3px;
    height: 3px;
    box-shadow: $stars-big;

    &::after {
      content: "";
      position: absolute;
      top: $travel;
      width: 3px;
      height: 3px;
      box-shadow: $stars-big;
    }

    animation: animStar 150s linear infinite;
  }
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-$travel);
    }
  }
}